pytest==7.1.2
boto3==1.26.23
pandas==1.5.2
python-dotenv==0.21.0
sqlalchemy==1.4.44
psycopg2-binary==2.9.5
openpyxl==3.0.10
s3fs==2022.11.0
fastapi==0.78.0
uvicorn==0.18.2
python-multipart==0.0.5
streamlit==0.18.2
plotly==5.11.0
statsmodels==0.13.5
pytest-cov==4.0.0
